
*.pyc
weights/
/demo_data/
*.tif
/cellbin2/contrib/multimodal_aoli.py
/build/
/cellbin2.egg-info/
/cellbin2/contrib/cell_core.py

./test/*
.gitignore

.vscode/
*.log
*.wdl
test_mfws.py
.gitignore
input.json

*.txt

test/*

Y10396E9_SC_20251117_113931_4.3.0-beta.8/*

Y10396E9.json

kanban/*

kanban.zip